{% extends 'myprojects/base.html'  %}


{% block content %}
<div class="container">
    <!--user profile info -->
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-5" style="height: 450px; background-color: azure; position:sticky ; top: 0; z-index: 3;">

            <h5 class="user text-center">{{profile.user.username}}</h5>
            <img src="{{profile.profile_pic.url}}" class="img-thumbnail img-responsive img-fluid" alt=""
                style="border-radius: 50%; width:100px; height:100px; border-color: brown; border-width: 1.5px;">
            <a href="{%url 'profileupdate'%}" class="btn btn-outline-info btn-sm">Edit Profile</a>
            <h3 class="">BIO</h3>
            <p>{{profile.bio | safe}}</p>
            <p class=""><b>Firstname:</b> {{profile.First_Name}}</p>
            <p><b>Lastname:</b> {{profile.Last_Name}}</p>
            <p><b>Email:</b> {{profile.Email}}</p>
        </div>

        <div class="col-sm-6 col-md-7">

            <h3 class="text-center">My Projects</h3>
            <hr>
            <div class="row mt-2">
                {% for project in projects %}
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{project.image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
                </div>
                {% endfor %}

            </div>

            <div class="col-sm-6 col-md-5">



                <!-- Edit Profile section -->

            </div>

        </div>
        {% endblock %}